<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon *ngIf="!isHomePage" [routerLink]="'/'" matPrefix>arrow_back</mat-icon>
  <span>{{title}}</span>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <!-- Footer -->
</div>


