<div class="modal-generic">
  <h1 mat-dialog-title class="title">Proposta aceita!</h1>
  <mat-dialog-content>
    <p class="text">
      Sua proposta foi aceita com sucesso!
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button class="ok-button" mat-button (click)="close()">OK</button>

  </mat-dialog-actions>
</div>
