@import '../../../global-variables.scss';

.modal-generic {
  text-align: center;
  .ok-button {
    color: white;
    margin-top: 15px;
    background-color: $simulator-blue;
    border: 0;
    padding: 7px 20px;
    border-radius: 10px;
    width: 100%;
  }

  .text {
    margin: 20px 0;
  }

  .title {
    color: $simulator-blue;
  }
}
