@import '../../styles.scss';

.clear {
  font-size: 10px;
  position: relative;
  top: -15px;
}

.form-control {
  .form-field {
    min-width: 100%;
  }
  .row-form {
    display: inline-block;
    max-width: 100%;
    .form-field {
      min-width: 45% !important;
      width: calc(50% - 5px);
      &.padding {
        padding-right: 10px;
      }
    }
  }
  .error {
    position: relative;
    display: block;
    top: -15px;
    max-width: 200px;
    font-size: 12px;
    color: $simulator-error;
  }
  .valid {
    color: $simulator-blue;
  }
  .invalid {
    color: $simulator-error;
  }
  button:disabled {
    background-color: $simulator-disabled;
  }
  .button-next,
  .button-refuse {
    color: white;
    margin-top: 15px;
    border: 0;
    padding: 7px 20px;
    border-radius: 10px;
  }
  .button-next {
    background-color: $simulator-blue;
  }
  .button-refuse {
    background-color: $simulator-error;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .message {
    margin: 25px 0 10px;
  }

  mat-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0;
  }
  mat-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0;
  }
  // background color números dos steps
  ::ng-deep mat-step-header {
    .mat-step-icon{
      background-color: $simulator-disabled;
      &.mat-step-icon-selected {
        background-color: $simulator-blue;
      }
    }
  }
}
