<div class="form-control">

  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="dataFirstStepForm">
      <form [formGroup]="dataFirstStepForm">
        <ng-template matStepLabel>Dados do cliente</ng-template>
        <label>Os campos obrigatórios estão sinalizados com *</label>
        <mat-form-field class="form-field" apparence='outline'>
          <mat-label>CPF/CNPJ</mat-label>
          <input matInput required mask="{{ documentMask }}" (focusout)="maskCPF($event.target.value)"
            formControlName="document" mask="000-000-000" placeholder="Insira o CPF ou CNPJ">
        </mat-form-field>

        <ng-container
          *ngIf="dataFirstStepForm?.value?.document?.length >= 11 && !dataFirstStepForm?.controls?.document?.errors?.min_length_invalid && !errorFirstForm">
          <span class="clear" (click)="clear()">Limpar formatação</span>
        </ng-container>

        <ng-container *ngIf="dataFirstStepForm?.controls?.document?.errors?.min_length_invalid && !errorFirstForm">
          <span class="error">Quantidade de caracteres invalido. Insira 11 ou 14 números.</span>
        </ng-container>

        <mat-form-field class="form-field" apparence='outline'>
          <mat-label>Telefone</mat-label>
          <input matInput required type="tel" formControlName="phoneNumber" mask="(00) 0 0000-0000"
            placeholder="Insira o telefone">
        </mat-form-field>

        <mat-form-field class="form-field" apparence='outline'>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Insira o email">
        </mat-form-field>

        <mat-form-field class="form-field" apparence='outline'>
          <mat-label>Ramo de atividade</mat-label>
          <mat-select required formControlName="type">
            <mat-option *ngFor="let activity of typeActivities" [value]="activity.name">
              {{activity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="errorFirstForm">
          <span class="error">Preencha os campos corretamente.</span>
        </ng-container>

        <div>
          <button mat-button [disabled]="dataFirstStepForm.status !== 'VALID'" matStepperNext class="button-next"
            (click)="submitFirstStep()">Próximo</button>
        </div>
      </form>
    </mat-step>

    <!-- SECOND STEP -->
    <mat-step [stepControl]="dataSecondStepForm">
      <form [formGroup]="dataSecondStepForm">
        <ng-template matStepLabel>Informações de taxas</ng-template>
        <label>Os campos obrigatórios estão sinalizados com *</label>

        <mat-form-field class="form-field" apparence='outline'>
          <mat-label>Concorrente</mat-label>
          <mat-select required formControlName="concurrent">
            <mat-option *ngFor="let concurrent of concurrentList" [value]="concurrent.name">
              {{concurrent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <label>Débito</label>
        <div class="row-form">
          <mat-form-field class="form-field padding" apparence='outline'>
            <mat-label>Taxa do concorrente</mat-label>
            <input matInput required formControlName="debitRateConcurrent" placeholder="Taxa do concorrente">
          </mat-form-field>

          <mat-form-field class="form-field" apparence='outline'>
            <mat-label>Desconto oferecido</mat-label>
            <input matInput required formControlName="debitDiscountOffered" placeholder="Desconto oferecido">
          </mat-form-field>
        </div>

        <label>Crédito</label>
        <div class="row-form">
          <mat-form-field class="form-field padding" apparence='outline'>
            <mat-label>Taxa do concorrente</mat-label>
            <input matInput required formControlName="creditRateConcurrent" placeholder="Taxa do concorrente">
          </mat-form-field>

          <mat-form-field class="form-field" apparence='outline'>
            <mat-label>Desconto oferecido</mat-label>
            <input matInput required formControlName="creditDiscountOffered" placeholder="Desconto oferecido">
          </mat-form-field>
        </div>


        <ng-container *ngIf="errorSecondForm">
          <span class="error">Preencha os campos corretamente.</span>
        </ng-container>

        <div>
          <button mat-button [disabled]="dataSecondStepForm.status !== 'VALID'" matStepperNext class="button-next"
            (click)="submitSecondStep()">Simular</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Proposta</ng-template>
      <label>{{messageProposal}}</label>

      <mat-table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let listTable"></mat-row>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>
            Tipo
          </mat-header-cell>
          <mat-cell *matCellDef="let listTable"> {{listTable?.type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="concurrentRate">
          <mat-header-cell *matHeaderCellDef>
            Concorrente
          </mat-header-cell>
          <mat-cell *matCellDef="let listTable"> {{rate(listTable?.type)}} %</mat-cell>
        </ng-container>

        <ng-container matColumnDef="discountOffered">
          <mat-header-cell *matHeaderCellDef>
            Proposta
          </mat-header-cell>
          <mat-cell class="{{classTable(listTable?.type)}}" *matCellDef="let listTable"> {{valueOffered(listTable?.type)}} %</mat-cell>
        </ng-container>

      </mat-table >

      <p class="message">{{getMessage()}}</p>

      <div class="buttons">
        <button mat-button class="button-next" (click)="acceptedProposal()">Proposta aceita</button>
        <button mat-button class="button-refuse" matStepperPrevious>Recusar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</div>
