
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simulador-coleta-precos-primary: mat-palette($mat-indigo);
$simulador-coleta-precos-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$simulador-coleta-precos-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$simulador-coleta-precos-theme: mat-light-theme($simulador-coleta-precos-primary, $simulador-coleta-precos-accent, $simulador-coleta-precos-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($simulador-coleta-precos-theme);

@import 'global-variables.scss';

:host {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $simulator-black;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-size: 18px;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: $simulator-link;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:$simulator-blue;
  mat-icon {
    color: white;
    position: absolute;
    left: 15px;
  }
  span {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 410px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }
