<div class="card-container">
  <a class="card" [routerLink]="'/new-proposal'">
    <span>Criar nova proposta</span>
  </a>

  <a class="card" [routerLink]="'/accepted-proposals'">
    <span>Ver propostas aceitas</span>
  </a>

</div>
