@import './../../styles.scss';

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: $simulator-border;
  background-color: $simulator-card;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}
